<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/index.css" />
    <title>Ana Sayfa</title>
  </head>
  <body>
    <!-- Main Text -->
    <section class="mainContainer">
      <p class="hello">Merhaba,</p>
      <p class="information">Yüz ifadesinden duygu tespiti projesi yapıyoruz.</p>
      <p class="thanks">Projemize destek verdiğin için teşekkürler.</p>
      <a href="/details" class="main-btn">Hadi Başlayalım</a>
    </section>

    <!-- Bottom Text -->
    <section class="bottomContainer">
      <img src="img/info-icon.svg" class="info-icon" />
      <p class="bottom">
        Bu proje İstanbul Kültür Üniversitesi öğrencileri tarafından bitirme projesi amacıyla
        yapılmaktadır.
      </p>
    </section>

    <!-- Left Image -->
    <img src="img/index-Left.svg" alt="Left Img" class="left-img" />

    <!-- Right Image -->
    <img src="img/index-Right.svg" alt="Right Img" class="right-img" />
  </body>
</html>
